# Dependencies
node_modules/
**/node_modules/

# Angular cache
.angular/
**/.angular/

# Environment files
.env
.env
!.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
**/.vscode/

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.tar.gz
*.tgz
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
**/.idea
*.iws
*.iml
*.ipr
**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.gradle

# compiled output
**/dist
**/tmp
**/out-tsc
**/bin
temporal-dev.db
temporal-dev.db-*
