<div class="mx-rete-node" [class.mx-rete-node--warning]="!isAssigned">
  <div class="mx-rete-node__top">
    <span class="mx-rete-node__eyebrow">STEP</span>

    <span class="mx-rete-node__status" [class.mx-rete-node__status--warning]="!isAssigned">
      {{ isAssigned ? 'Ready' : 'Missing agent' }}
    </span>
  </div>

  <h3 class="mx-rete-node__title">
    {{ stepName }}
  </h3>

  <div class="mx-rete-node__agent">
    <span>Agent</span>
    <strong>{{ agentName }}</strong>
  </div>

  <div class="mx-rete-node__ports">
    <div class="mx-rete-node__port mx-rete-node__port--input">
      <span>Input</span>
    </div>

    <div class="mx-rete-node__port mx-rete-node__port--output">
      <span>Output</span>
    </div>
  </div>
</div>